<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG 
        {{b}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
        {%for i in ds:%}
        {%if i['id']==b%}
        <div class="content">
            <div class="card">
                <h1>{{i['title']}}</h1>
                <h2>{{i['subtitle']}}</h2>
                <p>{{i['body']}}</p>
            </div>
            {%endif%}
        </div>
        {%endfor%}
</div>
</body>
<footer>
    <p>Made with ♥️ in Pondicherry.</p>
</footer>
</html>